.App {
  font-family: sans-serif;
  text-align: center;
}

.head {
  border: 15px solid skyblue;
  width: 300px;
  justify-content: center;
  display: flex;
  margin: auto;
  background-color: skyblue;
}

input {
  width: 150px;
  border: none;
  border-radius: 80px;
}

.add {
  border-radius: 90px;
  border: none;
  padding: 5px;
  margin: 5px;
}

ul {
  list-style: none;
}

.body {
  font-family: "Grape Nuts", cursive;
  font-size: 20px;
}

.list {
  margin-right: 10px;
  border: 2px solid black;
  border-radius: 40%;
  padding: 2px;
  background-color: black;
  color: white;
  font-family: "Lobster", cursive;
  text-align: center;
}
